.container{border-radius:10px; overflow:hidden;}
.imagebox{width:100%; height:0; padding-bottom:43%; background-color:#D9D9D9;}/* Group 15 */
.textbox{padding:15px 20px 60px; position:relative;}
.textbox > .head > .title{font-size:2.2rem; font-weight:800; color:var(--reverse-default-color);}
.textbox > .body{padding-top:5px;}
.textbox > .body > .description{font-size:1.6rem; font-weight:500; color:var(--reverse-default-color);}
.textbox > .datetime{padding-left:20px; font-size:1.4rem; font-weight:800; color:var(--util-color); position:absolute; bottom:15px; right:20px;}
.textbox > .datetime > img{position:absolute; top:50%; left:0; margin-top:-7px;}