@charset "utf-8";
/* ==================================================
    body
================================================== */
body{background-color:var(--background-color);}

/* ==================================================
    header
================================================== */
#total-wrapper header{width:100%; position:fixed; padding-top:20px; top:0; left:0; z-index:100; transition: all .2s ease;}
header .header-contents{position:relative; z-index:5;}
header .header-contents .title-box{height:60px; width:100%; max-width:480px; background-color:var(--bg-float-canvas);}

.menu-button{padding:17px 12px; position:absolute; top:50%; right:0; transform:translateY(-50%); z-index:5;}
.menu-button .menu-box{height:100%; width:100%;}
.menu-button .menu-box .menu-path{width:100%; height:2px; border-radius:1px; background-color:var(--util-color);}
.menu-button .menu-box .menu-path:nth-child(2){width:80%;}

/* ==================================================
    main
================================================== */
main .main-inner{padding:210px 0;}

/* ==================================================
    sidebar
================================================== */
.sidebar{width:360px; flex-basis:300px;}

.referer-list{margin-left:-10px;}
.referer-list > ul > li{position:relative; z-index:5;}
.referer-list > ul > li:first-child:before{display:none;}
.referer-list > ul > li:before{display:block; content:''; clear:both; border-top:3px solid var(--reverse-default-color); border-right:3px solid var(--reverse-default-color); border-left:3px solid transparent; border-bottom:3px solid transparent; position:absolute; top:50%; margin-top:-2px; left:-5px; z-index:5; transform:rotateZ(45deg);}
.referer-list > ul > li > a{display:block; padding:0 10px; box-sizing:border-box;}

.sidebar{position:relative; z-index:10;}
.sidebar:before{display:block; content:''; clear:both; width:100%; height:38px; border-radius:6px; border-top:1px solid var(--border-default-light); border-right:1px solid var(--border-default-light); position: absolute; top:0; left:0; z-index:-1;}

.sidebar .sticky-item{position:sticky; top:80px; left:0; z-index:5;}
.sidebar .layout-text{position:absolute; bottom:100%; left:0; z-index:5;}
.sidebar .sidebar-menu > ul > li > a{height:50px; padding:0 20px; box-sizing:border-box;}
.sidebar .sidebar-util{margin-top:10px;}
.sidebar .sidebar-articles{margin-top:70px;}
.sidebar .sidebar-articles .articles-list{margin-top:15px;}
.sidebar .sidebar-articles .articles-list > ul{padding-left:12px; box-sizing:border-box;}

/* ==================================================
    sidebar-controller
================================================== */
.sidebar-controller{padding:10px 10px 10px 0; display:grid; grid-template-columns: 1fr 1fr 1fr 40px 40px 40px; grid-template-rows: repeat(4, minmax(40px, auto)); gap:6px; border-bottom:1px solid var(--border-default-light); position:relative; z-index:10;}
.sidebar-controller:before{display:block; content:''; clear:both; width:1px; height:100px; margin-top:-50px; background-color:var(--border-default-light); position:absolute; top:100%; right:0; z-index:5;}
.sidebar-controller .prim-btn:nth-child(1){grid-column:1/6;}
.sidebar-controller .prim-btn:nth-child(2){grid-column:1/6; grid-row:2/5}
/* .sidebar-controller .prim-btn:nth-child(2){grid-column:4/5; grid-row:1/5} */
.sidebar-controller .prim-btn{width:100%; height:100%;}

/* ==================================================
    sidebar-depth
================================================== */
.sidebar-depth > ul{display:flex; flex-direction:column; gap:20px;}
.sidebar-depth > ul > li > a{color: var(--color-default); font-weight:700; font-size:1.6rem;}
.sidebar-depth ul.depth2 > li > a{display:flex; align-items:center; justify-content:space-between; padding:5px 10px 5px 0;}
.sidebar-depth ul.depth2 > li > a > span{color: var(--color-default-soft); font-weight:700; font-size:1.4rem;}
.sidebar-depth ul.depth2 > li > a:hover > span{color: var(--color-default);}
.sidebar-depth ul.depth2 > li > a:hover > svg path{fill: var(--color-default);}

/* ==================================================
    page-post
================================================== */
.page-post{flex-grow:1; position:relative;}
.page-post .layout-text{width:100%; position:absolute; bottom:100%; right:0; z-index:5;}
.page-post .post-thumb{border-radius:8px; overflow:hidden; border:1px solid var(--border-default-light); background-size:cover; background-repeat:no-repeat; background-position:center; background-color:#c1c1c1;}
.page-post .post-contents .title h3{font-size:4rem; font-weight:800; padding:20px 0 10px; border-bottom:1px solid var(--color-default); color:var(--color-default);}
.page-post .post-contents .contents{padding:40px 0 140px;}

/* ==================================================
    post-comment
================================================== */
.page-post .post-comments .write-util .submit-btn{width:auto;}
.page-post .post-comments .write-input{background-color:var(--bg-float-canvas); border-width:1px; border-style:solid; border-color:var(--border-default-light); border-radius:8px; position:relative; box-sizing:border-box;}
.page-post .post-comments .write-input textarea{width:100%; min-height:120px; padding:10px 1.5rem; box-sizing:border-box;}
.page-post .post-comments .write-input .user-info{border-top:1px solid var(--border-default-light); padding:5px 0;}
.page-post .post-comments .write-input .user-info .ipt{width:50%;}
.page-post .post-comments .write-input .user-info .ipt:first-child{border-right:1px solid var(--border-default-light)}

/* ==================================================
    post-headings
================================================== */
.post-heading{width:280px; flex-shrink:0; position:relative;}
.post-heading .sticky-item{position:sticky; top:80px; left:0; z-index:5;}
.post-heading .heading-list .depth1 > li > a{font-size:1.6rem; font-weight:800; color:var(--soft-text)}
.post-heading .heading-list .depth1 > li > a:hover, .post-heading .heading-list .depth1 > li > a.observed{color:var(--reverse-default-color)}
.post-heading .heading-list .depth2{padding-top:3px;}
.post-heading .heading-list .depth2 > li{padding-left:1.5rem;}
.post-heading .heading-list .depth2 > li > a{font-size:1.4rem; color:var(--soft-text);}
.post-heading .heading-list .depth2 > li > a:hover, .post-heading .heading-list .depth2 > li > a.observed{color:var(--reverse-default-color);}


/* ==================================================
    layout-text
================================================== */
.layout-text{height:44px;}

.date-text{padding-left:20px; background-position:left center; background-repeat:no-repeat; background-size:14px; color:var(--util-color); position:relative;}
.date-text svg{position:absolute; top:50%; left:0; transform:translateY(-50%); z-index:5;}

/* ==================================================
    basic grid option
================================================== */
.container{padding:200px 0;}
.max-grid{width:100%; max-width:1360px; padding:0 40px; box-sizing:border-box;}

/* ==================================================
    prim options
================================================== */
.prim-shadow{box-shadow:rgba(0, 0, 0, 0.06) 0px 1.3px 13px 3.25px;}

/* ==================================================
    btn
================================================== */
.prim-btn{display:flex; width:40px; height:40px; border-radius:6.5px; background:var(--bg-float-canvas); box-sizing:border-box;}
.prim-btn:hover{background:var(--bg-float-canvas-slct);}
.prim-btn.sz5{width:50px; height:50px;}
.theme-btn{position:relative;}
.theme-btn > svg{width:42%; position:relative; z-index:5;}
.theme-btn > svg .bulb-head{fill:var(--bg-bright-color);}
[data-theme="dark"] .theme-btn > .bright-effect{background:#fff; width:10px; height:10px; border-radius:5px; box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); margin-top:-4px;}

/* ==================================================
    util bar
================================================== */
.utilbar{height:185px; width:50px; border-radius:6.5px; margin-top:-25px; background:var(--bg-float-canvas); position:fixed; top:50%; left:20px; z-index:10;}

/* ==================================================
    Bento box
================================================== */
.bento-box{box-sizing:border-box; border-radius:8.5px; position:relative; z-index:5;} 
.bento-pd{padding:16px 30px;}

/* ==================================================
    visible input
================================================== */
.ipt.full-ipt{width:100%; height:100%;}
.ipt input{width:100%; height:100%; background-color:transparent; outline:none; border:none; color:var(--color-default); padding:0; box-sizing:border-box;}
.ipt input::placeholder{color:var(--color-default-soft);}


/* ==================================================
    icon 
================================================== */
.share-icon path, .chat-icon path, .like-icon path, .date-icon path{fill: var(--icon-default);}
.icon.icon-default path{fill: var(--icon-default);}
.icon.color-default path{fill: var(--color-default);}
.arrow-icon path{fill: var(--color-default-soft);}
.bulb-btn{position:relative;}
.bulb-btn > svg .bulb-head{fill:var(--bg-bright-color);}
[data-theme="dark"] .bulb-btn > .bright-effect{background:#fff; width:10px; height:10px; border-radius:5px; box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); margin-top:-4px;}




