@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');
* {
	text-size-adjust:none;
	-webkit-text-size-adjust:none;
	-moz-text-size-adjust:none;
	-o-text-size-adjust:none;
}

html, body{
	height:100%;
	font-size-adjust:none; 
	-webkit-font-size-adjust:none;
	-o-font-size-adjust:none;
	-moz-font-size-adjust:none;
}
html{font-size: 62.5%;} /*기본폰트 10px*/
body,th,td,input,select,textarea,button {
      font-size:1.5rem;
      font-weight:500;
      line-height:1.6;
      font-family: 'SUIT', sans-serif; 
      color:#111111;
     word-break:keep-all; word-wrap:break-word;
     letter-spacing: -0.5px;

}

::-webkit-input-placeholder {
   color:#bcbcbc;
}
:-moz-placeholder {
   color:#bcbcbc;
}
::-moz-placeholder{
   color:#bcbcbc;
}
:-ms-input-placeholder {
   color:#bcbcbc;
}

caption {
	display:none;
}

body, div, 
dl, dt, dd, ul, ol, li, 
h1, h2, h3, h4, h5, h6, 
pre, code, form, fieldset, legend, textarea, p, blockquote,
th, td, input, select, textarea, button,
header, nav, menu, section, article {
 margin:0;
 padding:0
}
fieldset, img {
 border:0 none
}
dl, ul, ol, menu, li {
 list-style:none; 
 vertical-align: middle
}
blockquote, q {
 quotes: none
}
blockquote:before, blockquote:after,q:before, q:after {
 content:''; content:none;
}
input, textarea {
 padding:0 5px;
}
input:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset; /* 크롭입력배경색제거 */
}
input, select, textarea, button {
 vertical-align:middle;
}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] {
 -webkit-appearance:none; 
}
input[type='text']::placeholder,input[type='password']::placeholder,input[type='submit']::placeholder,input[type='search']::placeholder {
 font-size: 14px;
 color: #a7a7a7;
}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {
 -webkit-appearance:none; 
 border-radius:0;
border:none;
}
input[type='button'] {
 -webkit-appearance:none;
  border: 0;
}
input[type='search']:-webkit-search-cancel-button {
 -webkit-appearance:none
}
input[type='radio'], input[type='checkbox'] {
 border:none;
}
button {
 border:none;
 background-color:transparent;
 cursor:pointer;
}

a, a:link, a:visited, a:hover, a:active {
 color:inherit; 
 text-decoration: none;
}
address,caption,cite,code,dfn,em,var {
 font-style:normal;
 font-weight:normal
}
table {
 width:100%; 
 border-collapse: collapse;
}
img { 
 vertical-align:middle; 
}
legend, caption{display:none;}