/* ==================================================
    dark/light mode
================================================== */
:root {
    --background-color:#ffffff;
    --bg-inside-page: #ececec;
    --bg-float-canvas: #ffffff;
    --bg-float-canvas-slct: #f3f3f3;
    --bg-light: #fafafa;
    --bg-light-slct: #ececec;
    --bg-bright-color: #c7c7c7;
    --default-color:#ffffff;
    --reverse-default-color:#1a1a1a;
    --prim-color:#FFD74A;
    --hover-prim-color:#f8cf3d;
    --util-color:#666666;
}
[data-theme="dark"]{

    --background-color:#1a1a1a;
    --bg-inside-page: #494949;
    --bg-float-canvas: #3b3b3b;
    --bg-float-canvas-slct: #494949;
    --bg-light: #fafafa;
    --bg-light-slct: #ececec;
    --bg-bright-color: #ffffff;
    --default-color:#1a1a1a;
    --reverse-default-color:#ffffff;
    --util-color:#ffffff;
    --prim-color:#e99b27;
    --hover-prim-color:#d98911;
}

.wrapper{
    width:100%;
    overflow:hidden;
    position:relative;
    background-color:var(--background-color);
    color:var(--reverse-default-color);
}

.default-clr{color:var(--reverse-default-color);}
.prim-bg{background-color:var(--prim-color);}
.prim-bg.hov:hover{background-color:var(--hover-prim-color);}

/* ==================================================
                       Flex
================================================== */

.flex-box { display: -webkit-box; display: -moz-box;  display: -ms-flexbox;  display: flex;  }

.justify-content-center { -webkit-box-pack: justify; -moz-justify-content: center;  -ms-flex-pack: justify; justify-content: center;}
.justify-content-start { -webkit-box-pack: justify; -moz-justify-content: flex-start;  -ms-flex-pack: justify;  justify-content: flex-start;  }
.justify-content-end { -webkit-box-pack: justify; -moz-justify-content: flex-end;  -ms-flex-pack: justify;  justify-content: flex-end }
.justify-content-between { -webkit-box-pack: justify; -moz-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }
.justify-content-around { -webkit-box-pack: justify; -moz-justify-content: space-around; -ms-flex-pack: justify; justify-content: space-around;}
.justify-content-evenly { -webkit-box-pack: justify; -moz-justify-content: space-evenly; -ms-flex-pack: justify; justify-content: space-evenly;}

.align-items-center { -webkit-box-align: center;  -moz-align-items: center;  -ms-flex-align: center;  align-items: center; }
.align-items-start { -webkit-box-align: start;  -moz-align-items: flex-start;  -ms-flex-align: start;  align-items: flex-start; }
.align-items-end { -webkit-box-align: end; -moz-align-items: flex-end;  -ms-flex-align: end;  align-items: flex-end; }
.align-items-baseline { -webkit-box-align: baseline;  -moz-align-items: baseline;  -ms-flex-align: baseline; align-items: baseline; }

.flex-column { -webkit-box-orient: vertical;  -moz-flex-direction: column;  -ms-flex-direction: column;  flex-direction: column;}
.flex-row { -webkit-box-orient: horizontal;  -moz-flex-direction: row;  -ms-flex-direction: row;  flex-direction: row;} 
.flex-column-reverse { -webkit-box-orient: vertical;  -webkit-box-direction: reverse;  -moz-flex-direction: column-reverse;  -ms-flex-direction: column-reverse;  flex-direction: column-reverse;}
.flex-row-reverse { -webkit-box-orient: horizontal; -webkit-box-direction: reverse;  -moz-flex-direction: row-reverse;  -ms-flex-direction: row-reverse;  flex-direction: row-reverse;}

.flex-nowrap {-webkit-box-lines: multiple; -moz-flex-wrap: nowrap; -ms-flex-wrap: nowrap;  flex-wrap: nowrap; } 
.flex-wrap {-webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap;  flex-wrap: wrap; } 

.flex-center{display: -webkit-box; display: -moz-box;  display: -ms-flexbox;  display: flex; -webkit-box-align: center;  -moz-align-items: center;  -ms-flex-align: center;  align-items: center; -webkit-box-pack: justify; -moz-justify-content: center;  -ms-flex-pack: justify; justify-content: center;}
.flex-shrink{flex-shrink:0;}

.col { flex: 1 0 0%}
.col-auto { flex: 0 0 auto;  width: auto}
.col-1 { flex: 0 0 auto;  width: 8.33333333% !important;}
.col-2 { flex: 0 0 auto;  width: 16.66666667% !important;}
.col-3 { flex: 0 0 auto;  width: 25% !important;}
.col-4 { flex: 0 0 auto; width: 33.33333333% !important;}
.col-5 { flex: 0 0 auto; width: 41.66666667% !important;}
.col-6 { flex: 0 0 auto; width: 50% !important;}
.col-7 { flex: 0 0 auto; width: 58.33333333% !important;}
.col-8 { flex: 0 0 auto; width: 66.66666667% !important;}
.col-9 { flex: 0 0 auto;  width: 75% !important;}
.col-10 { flex: 0 0 auto; width: 83.33333333% !important;}
.col-11 { flex: 0 0 auto;  width: 91.66666667% !important;}
.col-12 {flex: 0 0 auto;  width: 100% !important;}


.gap-2 { gap: 2px; }
.gap-3 { gap: 3px; }
.gap-4 { gap: 4px; }
.gap-5 { gap: 5px; }
.gap-6 { gap: 6px; }
.gap-8 { gap: 8px; }
.gap-10 { gap: 10px; }
.gap-15 { gap: 15px; }
.gap-20 { gap: 20px; }
.gap-30 { gap: 30px; }
.gap-35 { gap: 35px; }
.gap-40 { gap: 40px; }
.gap-50 { gap: 50px; }
.gap-60 { gap: 60px; }
.gap-70 { gap: 70px; }
.gap-80 { gap: 80px; }
.gap-90 { gap: 90px; }
.gap-100 { gap: 100px; }


/* ==================================================
                      margin
================================================== */

.mt-auto { margin-top: auto !important;}
.ml-auto { margin-left: auto !important;}
.mr-auto { margin-right: auto !important;}
.mb-auto { margin-bottom: auto !important;}

.mt-5 { margin-top: 5px !important;}
.mt-10 { margin-top: 10px !important;}
.mt-20 { margin-top: 20px !important;}
.mt-25 { margin-top: 25px !important;}
.mt-30 { margin-top: 30px !important;}
.mt-40 { margin-top: 40px !important;}
.mt-50 { margin-top: 50px !important;}
.mt-60 { margin-top: 60px !important;}
.mt-70 { margin-top: 70px !important;}
.mt-120 { margin-top: 120px !important;}

/* ==================================================
                      padding
================================================== */

.pd-5{padding:5px;}
.pd-10{padding:10px;}
.pd-20{padding:20px;}
.pd-30{padding:30px;}
.pd-40{padding:40px;}
.pd-50{padding:50px;}
.pd-60{padding:60px;}

/* ==================================================
                       text
================================================== */



.t-rw {overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; display:-webkit-box;  -webkit-box-orient:vertical; -moz-box-orient:vertical; word-break:break-all; word-wrap:break-word;}
.rw-1 {-webkit-line-clamp:1;}
.rw-2 {-webkit-line-clamp:2;}
.rw-3 {-webkit-line-clamp:3;}

.txt-l{text-align:left !important;}
.txt-c{text-align:center !important;}
.txt-r{text-align:right !important;}

.fs80{font-size:8rem;}
.fs70{font-size:7rem;}
.fs60{font-size:6rem;}
.fs55{font-size:5.5rem;}
.fs50{font-size:5rem;}
.fs45{font-size:4.5rem;}
.fs40{font-size:4rem;}
.fs35{font-size:3.5rem;}
.fs34{font-size:3.4rem;}
.fs30{font-size:3rem;}
.fs25{font-size:2.5rem;}
.fs24{font-size:2.4rem;}
.fs22{font-size:2.2rem;}
.fs20{font-size:2rem;}
.fs18{font-size:1.8rem;}
.fs17{font-size:1.7rem;}
.fs16{font-size:1.6rem;}
.fs15{font-size:1.5rem;}
.fs14{font-size:1.4rem;}
.fs13{font-size:1.3rem;}
.fs12{font-size:1.2rem;}
.fs11{font-size:1.1rem;}
.fs10{font-size:1rem;}


.fw100 {font-weight:100 !important;}
.fw200 {font-weight:200 !important;}
.fw300 {font-weight:300 !important;}
.fw400 {font-weight:400 !important;}
.fw500 {font-weight:500 !important;}
.fw600 {font-weight:600 !important;}
.fw700 {font-weight:700 !important;}
.fw800 {font-weight:800 !important;}
.fw900 {font-weight:900 !important;}

.text-zero {font-size:0; text-indent:-9999px;}

.lh1{line-height:1;}

/* ==================================================
                       round
================================================== */
.rd3{border-radius:3px;}
.rd5{border-radius:5px;}
.rd10{border-radius:10px;}
.rd20{border-radius:20px;}

/* ==================================================
                       list
================================================== */
.dot-list > ul > li{padding-left:16px; position:relative; z-index:5;}
.dot-list > ul > li:before{display:block; content:''; clear:both; width:4px; height:4px; border-radius:2px; background-color:var(--reverse-default-color); position:absolute; top:50%; left:0; margin-top:-2px; z-index:5;}


/* ==================================================
                       radio
================================================== */

.radio-box{ position:relative;}
.radio-box > input[type="radio"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden;}
.radio-box > input[type="radio"] ~ label{padding-left:26px; box-sizing:border-box; position:relative; font-size:1.4rem; font-weight:700; color:#222; cursor:pointer;}
.radio-box > input[type="radio"]:checked ~ label{color:#244177;}
.radio-box > input[type="radio"] ~ label:before{display:block; content:''; clear:both; width:20px; height:20px; border-radius:10px; border:1px solid #ccc; padding:4px; box-sizing:border-box; background-color:#fff; position:absolute; top:50%; margin-top:-10px; left:0; z-index:0;}
.radio-box > input[type="radio"]:checked ~ label:after{display:block; content:''; clear:both; width:10px; height:10px; border-radius:5px; background:#244177; position:absolute; top:50%; margin-top:-5px; left:5px; z-index:5;}

/* ==================================================
                     checkbox
================================================== */
.check-box{ position:relative;}
.check-box > input[type="checkbox"]{width:1px; height:1px; margin:-1px; position:absolute; clip: rect(0, 0, 0, 0); overflow:hidden;}
.check-box > input[type="checkbox"] ~ label{padding-left: 40px; box-sizing:border-box; position:relative; font-size:1.4rem; color:#555555 !important; cursor:pointer; line-height: 30px; margin: 0;}
.check-box > input[type="checkbox"]:checked ~ label{color:#244177;}
.check-box > input[type="checkbox"] ~ label:before{display:block; content:''; clear:both; width: 30px; height: 30px; border-radius:3px; border:1px solid #ccc; box-sizing:border-box; background-image:url('../../public/ico_check_off.svg'); background-size:15px 13px; background-repeat:no-repeat; background-position:center; background-color:#fff; position:absolute; /*top:50%; margin-top:-10px;*/ left:0; z-index:0;}
.check-box > input[type="checkbox"]:checked ~ label:before{background-image:url('../../public/ico_check.svg'); background-size:15px 13px; background-repeat:no-repeat; background-position:center; background-color: #a09560;}

/* ==================================================
                    nice-select
================================================== */
.select-drop { float: none;  margin: 0px;height: 40px !important; min-width: 180px !important;max-width: 100%;font-weight: 500 !important;color: #000000 !important;padding: 0 15px;background-color: #fff !important;border: 1px solid #e8e8e8 !important;}
.select-drop .list {width : 100%;max-height: 395px; overflow-y: auto;}
.select-drop.open {  border: 1px solid #1ea292 !important;   box-shadow: 5px 5px 10x 0px rgba(18, 75, 68, 0.3);}
.select-drop .option:hover, 
.select-drop .option.focus, 
.select-drop .option.selected.focus {  background-color: #edf8f6;  color: #1ea292;}
.select-drop.slide .list {opacity: 1;top: 40px;-webkit-transform: scale(1) translateY(0px);-ms-transform: scale(1) translateY(0px);transform: scale(1) translateY(0px);display: none;-webkit-transition: none; transition: none;}